.left-area {
  background-color: var(--secondary-color);
  flex: 1 1 13%;
  max-width: 13%;
}

.right-area {
  flex: 1 1 87%;
  max-width: 87%;
  background-color: var(--secondary-color);
  border-radius: 0.554rem;
  overflow: hidden;
}
