.common-area {
  .order-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    h6 {
      color: var(--text-color);
      font-size: 1.254rem;
      font-weight: 600;
    }
    .inner {
      background-color: var(--secondary-color);
      padding: 2rem;
      border-radius: 0.554rem;
      .top-area {
        background-color: var(--white-color);
        padding: 1rem;
        border-radius: 0.554rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        gap: 1rem;
        .right-area {
          display: flex;
          @media (max-width: 660px) {
            flex-wrap: wrap;
            width: 100%;
          }
          gap: 1rem;
          button {
            border: 1px solid var(--border-color);
            padding: 0.554rem 1rem;
            border-radius: 0.554rem;
            color: var(--subtext-color);
            cursor: pointer;
            font-size: 0.854rem;
            width: 100%;
            &.delivered-btn {
              background-color: var(--green-bg);
              color: var(--green-color);
              border: 0;
              font-weight: 500;
            }
            &.processed-btn {
              background-color: var(--blue-bg);
              color: var(--blue-color);
              border: 0;
              font-weight: 500;
            }
            &.cancelled-btn {
              background-color: var(--red-bg);
              color: var(--red-color);
              border: 0;
              font-weight: 500;
            }
          }
        }
      }
      .bottom-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 660px) {
          flex-wrap: wrap;
          gap: 2rem;
        }
        .left-area {
          display: flex;
          align-items: center;
          gap: 3rem;
          @media (max-width: 767px) {
            gap: 1rem;
          }
          @media (max-width: 660px) {
            flex-wrap: wrap;
          }
          img {
            // width: 50%;
            width: 200px;
            border-radius: 0.554rem;
            @media (max-width: 480px) {
              width: 100%;
            }
          }
          h5 {
            font-size: 1.125rem;
            font-weight: 600;
            color: var(--text-color);
            margin-bottom: 0.254rem;
          }
          p {
            font-size: 0.854rem;
            line-height: 1.5rem;
            color: var(--subtext-color);
            span {
              color: var(--text-color);
            }
          }
          h4 {
            font-size: 1.254rem;
            font-weight: 600;
            color: var(--subtext-color);
            margin-top: 1rem;
          }
        }
        .right-area {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          align-items: flex-end;
          flex-wrap: wrap;
          @media (max-width: 660px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
          button {
            background-color: var(--highlighted-color);
            border-radius: 0.554rem;
            padding: 0.554rem 1.5rem;
            color: var(--white-color);
            cursor: pointer;
            font-size: 0.854rem;
          }
          h6 {
            display: flex;
            align-items: center;
            gap: 0.354rem;
            font-size: 0.854rem;
            color: var(--subtext-color);
            svg {
              color: var(--highlighted-color);
            }
          }
        }
      }
    }
  }

  .order-detail-page {
    .track-order-area {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-color);
      padding-bottom: 2rem;
      @media (max-width: 640px) {
        flex-wrap: wrap;
        gap: 1rem;
      }
      .left-area {
        h2 {
          font-size: 1.554rem;
          font-weight: 600;
          color: var(--text-color);
        }
        h6 {
          color: var(--subtext-color);
          font-size: 0.854rem;
        }
      }
      .right-area {
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          background-color: var(--white-color);
          border-radius: 0.554rem;
          border: 1px solid var(--border-color);
          padding: 0.554rem 1.5rem;
          color: var(--text-color);
          cursor: pointer;
          font-size: 0.854rem;
          display: flex;
          align-items: center;
          gap: 0.254rem;
          svg {
            color: var(--subtext-color);
          }
          &.track-btn {
            background-color: var(--teal-blue-text);
            border: 0;
            color: var(--white-color);
          }
        }
      }
    }
    .product-detail-area {
      border-bottom: 1px solid var(--border-color);
      padding-block: 2rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
        .left-area {
          display: flex;
          align-items: center;
          @media (max-width: 767px) {
            gap: 1rem;
            flex-wrap: wrap;
            margin-bottom: 1rem;
          }
          gap: 3rem;
          img {
            border-radius: 0.554rem;
            width: 200px;
            @media (max-width: 767px) {
              width: 100%;
            }
          }
          h5 {
            font-size: 1.125rem;
            font-weight: 600;
            color: var(--text-color);
            margin-bottom: 0.254rem;
          }
          p {
            font-size: 0.854rem;
            line-height: 1.5rem;
            color: var(--subtext-color);
            span {
              color: var(--text-color);
            }
          }
        }
        .right-area {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          @media (max-width: 767px) {
            width: 100%;
            align-items: flex-start;
          }
          h4 {
            font-size: 1.354rem;
            font-weight: 800;
            color: var(--subtext-color);
          }
          h6 {
            color: var(--subtext-color);
            font-size: 0.854rem;
          }
        }
      }
    }
    .address-area {
      display: flex;
      justify-content: space-between;
      padding-block: 2rem;
      border-bottom: 1px solid var(--border-color);
      @media (max-width: 480px) {
        flex-wrap: wrap;
      }
      .inner-area {
        p {
          color: var(--text-color);
          font-weight: 600;
          margin-bottom: 0.554rem;
          font-size: 1rem;
        }
        h5 {
          max-width: 90%;
          margin-bottom: 1rem;
        }
        h6 {
          display: flex;
          align-items: flex-start;
          color: var(--subtext-color);
          font-size: 0.854rem;
          img {
            width: 25px;
          }
        }
        @media (max-width: 480px) {
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .rating-area {
      padding-block: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      // border-bottom: 1px solid var(--border-color);
      h4 {
        font-size: 1.554rem;
        font-weight: 600;
        @media (max-width: 767px) {
          font-size: 1.254rem;
        }
        @media (max-width: 380px) {
          font-size: 1rem;
        }
      }
      .star-div {
        display: flex;
        gap: 0.5rem;
        span {
          svg {
            fill: var(--border-color);
            stroke: var(--border-color);
          }
          &.checked {
            svg {
              fill: var(--highlighted-color);
              stroke: var(--highlighted-color);
            }
          }
        }
      }
    }

    .help-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 2rem;
      background-color: var(--secondary-color);
      padding: 2rem;
      border-radius: 0.554rem;
      flex-wrap: wrap;
      gap: 1rem;
      .left-area {
        p {
          font-size: 1.254rem;
          font-weight: 600;
          color: var(--subtext-color);
        }
      }
      .right-area {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        button {
          border: 1px solid var(--border-color);
          display: flex;
          align-items: center;
          gap: 0.5rem;
          border-radius: 0.554rem;
          padding: 0.854rem 2.5rem;
          cursor: pointer;
          background-color: var(--white-color);
          border-color: var(--white-color);
          color: var(--subtext-color);
          i {
            font-size: 1.5rem;
            &::before {
              vertical-align: text-bottom;
            }
          }
          @media (max-width: 640px) {
            width: 100%;
          }
        }
      }
    }

    .payment-mode-area {
      display: flex;
      justify-content: space-between;
      padding-block: 2rem;
      flex-wrap: wrap;
      gap: 1rem;
      .left-area {
        p {
          color: var(--text-color);
          font-weight: 600;
          margin-bottom: 0.554rem;
          font-size: 1rem;
        }
        h6 {
          display: flex;
          align-items: flex-start;
          color: var(--subtext-color);
          font-size: 1rem;
          img {
            width: 25px;
          }
        }
      }
      .right-area {
        h4 {
          color: var(text-color);
          font-weight: 600;
          margin-bottom: 0.554rem;
          font-size: 1.254rem;
        }
        .inner {
          width: 300px;
          .table-flex {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 1px solid var(--border-color);
            &:last-child {
              border-left: 1px solid var(--border-color);
              border-right: 1px solid var(--border-color);
              padding-left: 1rem;
              padding-right: 1rem;
              p {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
