.breadcrumbs-area {
  background-color: #ffffff;
  padding: 30px 0;

  .flex-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .right {
      display: flex;
      gap: 1.5rem;

      a.btn {
        text-decoration: none;
        width: max-content;
        padding: 8px 20px;
        border-radius: 4px;
        background-color: #277e30;
        color: #ffffff;
      }

      .price-area {
        display: flex;
        align-items: center;
        gap: 1rem;

        div {
          text-align: center;

          span {
            text-decoration: line-through;
          }

          h6 {
            margin: 0;
            color: #277e30;
            font-weight: 600;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;

    li {
      a {
        color: #848484;
        text-decoration: none;
      }
    }
  }
}

.banner-product-area {
  background-color: #f7f7f7;

  .filter-divider {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .left-area {
      flex: 1 1 75%;
      max-width: 75%;
      h3 {
        margin-bottom: 3rem;
        font-weight: 700;
        text-transform: capitalize;
      }
      .banner-inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        .inner-card {
          background-color: #fff;
          // padding: 15px;
          border: 1px solid #dbdbdb;
          border-radius: 10px;
          overflow: hidden;
          text-align: center;
          cursor: pointer;

          a {
            text-decoration: none;
            color: inherit;

            > * {
              margin-block: 15px;
            }

            &.customized-button {
              background-color: #452e73;
              text-decoration: none;
              width: 100%;
              display: block;
              padding: 10px;
              color: #fff;
              margin: 0;

              &:hover {
                background-color: #277e30;
                cursor: pointer;
              }
            }
          }

          img {
            border-radius: 10px;
            width: 100%;
            aspect-ratio: 3 / 2;
            object-fit: cover;
            margin: 0;
          }

          h4 {
            font-size: 1rem;
            font-weight: 700;
            color: #277e30;
          }

          h5 {
            font-weight: 600;
            font-size: 1.054rem;
          }

          .rating-area {
            .checked {
              color: orange;
            }
          }

          h6 {
            color: #8b8b8b;
            font-weight: 400;
          }
        }
      }
    }

    .right-area {
      flex: 1 1 25%;
      max-width: 25%;

      .main-filter-area {
        margin-top: 40px;
        border: 1px solid #cacaca;
        padding: 0;
        border-radius: 5px;
        position: sticky;
        top: 55px;

        .filter-dropdown-area {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h6 {
            margin-bottom: 0;
            color: #452e73;
            font-weight: 600;

            &.if-inactive {
              color: #858585;
            }
          }

          span {
            color: #858585;
          }
        }

        .filters-inner {
          border-bottom: 1px solid #cfcfcf;
          padding: 15px;

          &:last-child {
            border-bottom: none;
          }
        }

        ul {
          padding: 0;
          list-style: none;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 1rem;

          li {
            a {
              text-decoration: none;
              color: inherit;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              padding: 0 20px;

              &.active {
                background-color: #452e73;
                border-radius: 4px;
                color: #fff;

                // &::after {
                //   content: '\f057';
                //   font-family: 'FontAwesome';
                // }
              }
            }
          }
        }
      }
    }
  }
}

.custom-banner-area {
  h3 {
    margin-bottom: 3rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}
