.left-area {
  ul {
    display: flex;
    flex-direction: column;
    border-radius: 0.554rem;
    overflow: hidden;
    // background-color: var(--secondary-color);
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 10px;
      cursor: pointer;
      height: 3.354rem;
      border-bottom: 1.5px solid var(--white-color);
      &.active {
        background-color: var(--main-color);
        color: var(--secondary-color);
        img {
          filter: invert(2);
        }
      }
      &:hover {
        background-color: var(--main-color);
        color: var(--secondary-color);
        img {
          filter: invert(2);
        }
      }
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
    }
  }
}
