@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";

:root {
    --main-color: #452E74;
    --text-color: #1e1e1e;
    --subtext-color: #6e6e6e;
    --secondary-color: #F0F0F0;
    --highlighted-color: #FE6221;
    --white-color: #ffffff;
    --border-color: #cccccc;
    --green-bg: #d0ffd1;
    --green-color: #004b03;
    --blue-bg: #cce0fd;
    --blue-color: #003b5c;
    --teal-blue-text: #5b85c2;
    --red-bg: #ffd2d2;
    --red-color: #5c0000;
}

body {
    font-family: "Onest", sans-serif;
}

/* .container-fluid {
    max-width: 95%;
    margin: 0 auto;
}

input::placeholder {
    font-size: 0.854rem;
    font-weight: 500;
} */